[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
requests = "*"
urllib3 = "*"
req = "*"
pytest = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
